<section>
	<div class="gdlr-color-wrapper gdlr-show-all no-skin">
		<div class="container">
			<div class="four columns">
				<div class="gdlr-item-title-wrapper gdlr-item pos-left borderme">
					<h3 class="gdlr-item-title borderme" style="font-family:arial;font-size: 16px;">Site Announcements</h3>
				</div>
				<%=render :partial => 'homepage/announcements' %>
			</div>
			<div class="four columns">
				<div class="gdlr-item-title-wrapper gdlr-item pos-left borderme">
					<h3 class="gdlr-item-title" style="font-family:arial;font-size: 16px;">Recent Blog Post</h4>	
				</div>	
				<%= render :partial => 'homepage/blog_single' %>
			</div>
			<div class="four columns">
				<div class="gdlr-item-title-wrapper gdlr-item pos-left borderme">
					<h3 class="gdlr-item-title" style="font-family:arial;font-size: 16px;"><lable style="font-size:12px;">Forum</lable> Threads</h3>	
				</div>	
				<%= render :partial => 'homepage/posts' %>
			</div>
		</div>
	</div>
</section>