<style type="text/css">
	
	{
		border-radius: 4px;
	}
</style>
<section>
	<div class="gdlr-color-wrapper gdlr-show-all no-skin">
		<div class="container">
			<div class="gdlr-shortcode-wrapper gdlr-row-shortcode" style="margin-left: 10px;margin-right: 10px;">
			<div class="col-xs-12" >
			    <h1 style="text-align: center">Social Media</h1>
			</div>
			<div class="four columns" style="height: 315px;">
			<div class="gdlr-item gdlr-column-shortcode" style="height: 314px;">
			<!-- <a class="twitter-timeline" href="https://twitter.com/MBAnumbers" data-widget-id="562495077063602176">Twitter by @MBAnumbers</a> -->
				<% # raw @social.content_for(:twitter) %> 
			<a class="twitter-timeline" href="https://twitter.com/infombanumbers" data-widget-id="573467130869342208">Tweets by @infombanumbers</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			</div>
			</div>
			<div class="four columns" style="margin-left: 54px;">
			<div class="gdlr-item gdlr-column-shortcode _4s7c">
			<!-- <a class="twitter-timeline" href="https://www.facebook.com/pages/Mbanumbers/1619282458305903">Facebook by @MBAnumbers</a>-->
			<div class="_4s7c">
			<%#raw @social.content_for(:facebook) %> 
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMbanumbers%2F1619282458305903&amp;width=300&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:427px;" allowTransparency="true"></iframe>
				
			</div>
			</div>
			</div>
				<div class="two columns">
			<div class="gdlr-item gdlr-column-shortcode">
			<!-- <a class="twitter-timeline" href="https://twitter.com/MBAnumbers" data-widget-id="562495077063602176">Likedin by @MBAnumbers</a>-->
			<%#=raw @social.content_for(:linkedin) %> 
				<iframe src="http://widgetsplus.com:8080/64829.htm" width="300px" height="425px" style="padding:0; margin:0; overflow:hidden;" frameborder="0"></iframe>
			</div>
			
			
			<div class="clear"></div>
			</div>
		</div>
	
	</div>
	</div>
</section>