<section id="content-section-8">
<div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff;  padding-bottom: 60px; ">
<div class="container">
<div class="gdlr-title-item" style="margin-bottom: 50px;">
<div class="gdlr-item-title-wrapper gdlr-item pos-center "><div class="gdlr-item-title-head">
<h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Social Media</h3>
<div class="clear"></div></div>
<div class="gdlr-item-title-divider"></div>

</div></div>
<div class="gdlr-banner-item-wrapper">
<div class="gdlr-banner-images gdlr-item" style="margin-bottom: 0px;">
<div class="flexslider" data-pausetime="7000" data-slidespeed="600" data-effect="fade" data-columns="3" data-type="carousel" data-nav-container="gdlr-banner-images"><div class="flex-viewport" style="overflow: hidden; position: relative;">
<ul class="slides" style="width: 600%; margin-left: 0px;">
<li style="float: left; display: block; width: 350px;"><a class="twitter-timeline" href="https://twitter.com/infombanumbers" data-widget-id="573467130869342208">Tweets by @infombanumbers</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
			</li>
<li style="float: left; display: block; width: 350px;"><div class="well"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMbanumbers%2F1619282458305903&amp;width=300&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:299px; height:422px;" allowTransparency="true"></iframe></div></li><li style="float: left; display: block; width: 350px;"><div class="well" style="overflow-y: scroll;height: 429px;
">
	<h6 style="color:rgb(132, 176, 226)">Breaking News</h6><hr>
	
	<% @newcast.each do |a|%>

	<p style="font-size:16px; color:black"><%= a.title  %></p>
	<p style="font-size:13px;text-align:justify"> 
			
			<%= raw a.description %>

	</p> 
	
	<% end %>
</div></li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"><i class="icon-angle-left"></i></a></li><li><a class="flex-next flex-disabled" href="#" tabindex="-1"><i class="icon-angle-right"></i></a></li></ul></div></div></div><div class="clear"></div></div></div><div class="clear"></div></section>