<section>
	<div class="gdlr-color-wrapper gdlr-show-all no-skin">
		<div class="container">
			<div class="gdlr-shortcode-wrapper gdlr-row-shortcode" style="margin-left: 10px;margin-right: 10px;">
			<div class="col-xs-12" >
			    <h1 style="text-align: center">Social Media</h1>
			</div>
			<div class="four columns">
			<div class="gdlr-item gdlr-column-shortcode">
			<!-- <a class="twitter-timeline" href="https://twitter.com/MBAnumbers" data-widget-id="562495077063602176">Twitter by @MBAnumbers</a> -->
				<% # raw @social.content_for(:twitter) %> 

				<a class="twitter-timeline" href="https://twitter.com/infombanumbers" data-widget-id="573040981622169601">Tweets by @mbanumbers</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			</div>
			</div>
			<div class="four columns">
			<div class="gdlr-item gdlr-column-shortcode">
			<!-- <a class="twitter-timeline" href="https://twitter.com/MBAnumbers" data-widget-id="562495077063602176">Facebook by @MBAnumbers</a>-->

			<%#raw @social.content_for(:facebook) %> 
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMbanumbers%2F1619282458305903%3Fskip_nax_wizard%3Dtrue%26ref_type%3Dbookmark&amp;width=300px&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300pxpx; height:590px;" allowTransparency="true"></iframe>
				
			</div>
			</div>
			
				<div class="two columns">
			<div class="gdlr-item gdlr-column-shortcode">
			<!-- <a class="twitter-timeline" href="https://twitter.com/MBAnumbers" data-widget-id="562495077063602176">Likedin by @MBAnumbers</a>-->
			<%#=raw @social.content_for(:linkedin) %> 
				<iframe src="http://widgetsplus.com:8080/64754.htm" width="225" height="728" style="padding:0; margin:0; overflow:hidden;" frameborder="0"></iframe>
			</div>
			
			
			<div class="clear"></div>
			</div>
		</div>
	
	</div>
	</div>
</section>


