<div class="container" >
<div class="section-container container">
	<div class="gdlr-item gdlr-content-item" style="margin-left: 300px;
margin-right: 300px;
	"><p>
	</p><div class="clear"></div>
	<div class="gdlr-space" style="margin-top: -22px;"></div>
	<div class="clear"></div>
	<div class="gdlr-space" style="margin-top: 45px;"></div>
	<div class="wpcf7" id="wpcf7-f8-o1" lang="en-US" dir="ltr">
	<div class="screen-reader-response"></div>
	<%=form_tag profile_createupdatepwd_path,:class => "gdlr-lms-form" do |f| %>
        <dl class="dl-horizontal">
    <input type="hidden" name="token" id="token" value="<%= params[:token] %>">
            <dt>New Password*</dt>
        	<dd><input type="password" name="newpassword" id="newpassword" placeholder="newpassword" style="background-color: #ffffff;border-color: #e3e3e3;border: 1px solid;"></dd>
        	<dt>Conform Password*</dt>
        	<dd><input type="password" name="conformpassword" id="conformpassword" placeholder="conformpassword" style="background-color: #ffffff;border-color: #e3e3e3;border: 1px solid;"></dd>
        	
        </dl>
 <div style="width:100%;margin-left: 208px;">
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;margin-top: 13px;'%>
</div>

		</div>
	<%end%> 
	</div><div class="clear"></div> 
</div>

<div class="gdlr-item gdlr-divider-item">
<div class="gdlr-divider solid"></div>
</div>


							
				
</div>
  
   </div>

