<section id="content-section-1" >
   <div class="owl-carousel">
   <div class="item">
       <%= image_tag 'banner12.jpg' %> 
    </div>
    <div class="item">
       
       <%= image_tag 'banner11.jpg' %>
    </div>
       
   </div>
</section>
