<section id="content-section-1" >
    <div class="gdlr-full-size-wrapper gdlr-show-all"  style="padding-bottom: 0px; background-color: #ffffff; "  >
        <div class="gdlr-master-slider-item gdlr-slider-item gdlr-item"  style="margin-bottom: 0px;"  >
        <!-- MasterSlider -->
            <div id="P_MS54c7ea34bc296" class="master-slider-parent ms-parent-id-1"  >
                
            
            <!-- MasterSlider Main -->
            <div id="MS54c7ea34bc296" class="master-slider ms-skin-default" >
                                 
                <div  class="ms-slide" data-delay="3" data-fill-mode="fill"  >
                    <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/masterslider/public/assets/js/blank.gif" alt="" title="" data-src="/assets/banner_students.jpg" />
                    
                    <div  class="ms-layer  msp-cn-1-1" style="width:900px;"  data-effect="t(true,250,n,n,n,n,-250,n,n,n,n,n,n,n,n)" data-duration="987"  data-ease="easeOutQuint"               data-offset-x="-177" data-offset-y="-92" data-origin="mr" >
Here are my GMAT</div>

                    <div  class="ms-layer  msp-preset-3" style=""  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="962" data-delay="712" data-ease="easeOutQuint"               data-offset-x="15" data-offset-y="-33" data-origin="mr" >
and GPA scores</div>
                    <div  class="ms-layer  msp-cn-1-6" style=""  data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)"  data-delay="2300" data-ease="easeOutQuint"               data-offset-x="1017" data-offset-y="327" data-origin="tl" >
                    <div class="gdlr-skill-item-wrapper gdlr-type-2 gdlr-item" style=" background-color: #72d5cd; color: #ffffff;padding:0px;"><div class="gdlr-skill-item-title" style="font-size:12px"><small>Gmat :: 299 <br> <br>Gpa:: 3.2</small></div></div>
                    </div>

                    <div  class="ms-layer  msp-cn-1-3" style="width:550px;"  data-effect="t(true,-500,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="1037" data-delay="1475" data-ease="easeOutQuint"               data-offset-x="15" data-offset-y="28" data-origin="mr" ><div style="text-align: right;">What are yours?</div></div>



                </div>
                <div  class="ms-slide" data-delay="3" data-fill-mode="fill"  >
                    <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/masterslider/public/assets/js/blank.gif" alt="" title="" data-src="http://themes.goodlayers.com/clevercourse/wp-content/uploads/2014/08/slider-1.jpg" />

                </div>

            </div>
            <!-- END MasterSlider Main -->

             
        </div>
        <!-- END MasterSlider --> 
        
        <script>
        (function ( $ ) {
            "use strict";

            $(function () {
                var masterslider_c296 = new MasterSlider();

                // slider controls
                masterslider_c296.control('arrows'     ,{ autohide:true, overVideo:true  });                    
                masterslider_c296.control('bullets'    ,{ autohide:true, overVideo:true, dir:'h', align:'bottom' , margin:10  });
                // slider setup
                masterslider_c296.setup("MS54c7ea34bc296", {
                        width           : 1180,
                        height          : 485,
                        space           : 0,
                        start           : 1,
                        grabCursor      : true,
                        swipe           : true,
                        mouse           : false,
                        layout          : "fullwidth", 
                        wheel           : false,
                        autoplay        : false,
                        instantStartLayers:false,
                        loop            : true,
                        shuffle         : false,
                        preload         : 0,
                        heightLimit     : true,
                        autoHeight      : false,
                        smoothHeight    : true,
                        endPause        : false,
                        overPause       : true,
                        fillMode        : "fill", 
                        centerControls  : true,
                        layersMode      : "center", 
                        hideLayers      : false, 
                        fullscreenMargin: 0,
                        speed           : 20, 
                        dir             : "h", 
                        parallaxMode    : 'swipe',
                        view            : "basic"
                });

                
                $("head").append( "<link rel='stylesheet' id='ms-fonts'  href='http://fonts.googleapis.com/css?family=Montserrat:700,regular' type='text/css' media='all' />" );

                window.masterslider_instances = window.masterslider_instances || {};
                window.masterslider_instances["1_c296"] = masterslider_c296;
             });
            
        })(jQuery);
        </script> 
        
</div><div class="clear"></div></div><div class="clear"></div>

</section>